html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    color: #333;
}

#main {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#top-bar {
    background-color: #f0f0f0;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#latlng {
    display: flex;
    align-items: center;
    gap: 5px;
}

#latlng input {
    width: 50px;
    height: 50px;
    font-size: 24px;
    text-align: center;
    border: 2px solid #ccc;
    background-color: #e0e0e0;
    border-radius: 5px;
}

#latlng .separator {
    font-size: 24px;
    font-weight: bold;
}

button {
    margin-left: 10px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#content {
    display: flex;
    flex-grow: 1;
}

#sidebar {
    width: 250px;
    background-color: #f5f5f5;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    overflow-y: auto;
}

#map {
    flex-grow: 1;
}

h2 {
    margin-top: 0;
    color: #2c3e50;
}

#select-all-container {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ccc;
}

#species-checkboxes {
    margin-bottom: 20px;
}
.checkbox-container {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 40px;
    cursor: pointer;
    font-size: 16px;
    height: 30px;
}

.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    height: 20px;
    width: 20px;
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 4px;
    transition: all 0.3s ease;
}

.checkbox-container:hover input ~ .checkmark {
    background-color: #ccc;
}

.checkbox-container input:checked ~ .checkmark {
    background-color: #2196F3;
    border-color: #2196F3;
}

.checkmark:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}

.species-item {
    padding: 5px 10px;
    border-radius: 4px;
    margin-bottom: 5px;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    height: 40px;
}


.france-item {
    padding: 5px 10px;
    border-radius: 4px;
    margin-bottom: 55px;
    transition: background-color 0.3s ease;
    display: flex;
    background: #3388ff33;
    align-items: center;
    height: 40px;
}
.france-item .checkmark{
    border-color: #3388ff;
}

.checkbox-container span:not(.checkmark) {
    margin-left: 5px;
}

#latlng {
    margin-bottom: 20px;
}

.coordinate-input {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.coordinate-input input {
    width: 30px;
    height: 40px;
    border: none;
    text-align: center;
    font-size: 18px;
}

.coordinate-input span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 40px;
    background-color: #e0e0e0;
    font-weight: bold;
}

#go {
    width: 100%;
    padding: 10px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#go:hover {
    background-color: #2980b9;
}